<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="myApp">
	<h2>
		<center>
			<u>Arithmetic Operation By Using Single Function</u>
		</center>
	</h2>
	<div ng-controller="myController">
		Enter The First No:<input ng-model="fno" /><br>
		 Enter The Second No:<input ng-model="sno" /> <br> 
		 <!-- <input type="button" value="submit" ng-click="f1()" />  -->
		<input type="button" value="sum" ng-click="f1().sum" />
		<input type="button" value="sub" ng-click="f1().sub" />
		<input type="button" value="mult" ng-click="f1().mult" /> 
		<input type="button" value="div" ng-click="f1().div" /><br>
		<h3>{{sum}}</h3>
		<h3>{{sub}}</h3>
		<h3>{{mult}}</h3>
		<h3>{{div}}</h3>
	</div>
	<script src="angular.js"></script>
	<script>
var app= angular.module('myApp',[]);
app.controller('myController',function($scope){
$scope.fno="";
$scope.sno="";
$scope.sum="";
$scope.sub="";
$scope.mult="";
$scope.div="";
$scope.f1=function(){

var $scope.sum,$scope.sub,$scope.mult,$scope.div;

$scope.sum=$scope.fno+$scope.sno;
$scope.sub=$scope.fno-$scope.sno;
$scope.mult=$scope.fno*$scope.sno;
$scope.div=$scope.fno/$scope.sno;

 /* var ch=parseInt(prompt( "Enter your choice 1.Addition 2.Subtraction 3.Multiplication 4.Division "));
 switch(ch){
 	case 1:$scope.sum=parseInt($scope.fno+$scope.sno);
		           break;
		case 2:$scope.sub=$scope.fno-$scope.sno;
		        break;
		case 3:$scope.mult=$scope.fno*$scope.sno;
		           break;
		case 4:$scope.mult=$scope.fno/$scope.sno;
		           break;
		default: document.writeln( "Enter choice correctly ");
 } };*/


});
</script>
</body>
</html>